<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

<style>
  #header {
    background: url('../images/nxlog_ce_logo.png')
      no-repeat right bottom;
    background-size: auto 38%;
  }
  .literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
    /* Remove unnecessary vertical space in code listings */
    padding-top: 0;
    padding-bottom: 0;

    /* Reduce font size in code listings  */
    font-size: 0.9em
  }
</style>
